<div class="page-header">
  <h3>Publication #<%= @publication.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @publication.title %></dd>

      <dt>Body</dt>
      <dd><%= @publication.body %></dd>

      <dt>League</dt>
      <dd><%= @publication.league_id %></dd>

      <dt>User</dt>
      <dd><%= @publication.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/publications" class="btn btn-primary">
        Back
      </a>
      <a href="/publications/<%= @publication.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_publication/<%= @publication.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
